<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="bienvenida" class="navbar-brand">Home</a>
    <a routerLink="login" class="navbar-brand">Login</a>
    <a *ngIf="userIsLogged" routerLink="repartidor/repartidor-alta" class="navbar-brand">Alta Repartidor</a>
    <a *ngIf="userIsLogged" routerLink="repartidor/repartidor-detalle" class="navbar-brand">Repartidor</a>
</nav>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="busqueda" class="navbar-brand">Busqueda</a>
    <a routerLink="actor/alta-actor" class="navbar-brand">Actor</a>
    <a routerLink="pelicula/alta-pelicula" class="navbar-brand">Pelicula</a>
    <a routerLink="actor-pelicula" class="navbar-brand">Actor - Pelicula</a>
</nav> -->