<div class="box-lista-paises">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Seleccion pais</span>
    </h4>
    <ul class="list-group mb-3" *ngFor="let pais of paises" (click)="devolverPais(pais)">
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0">{{pais.nombre}}</h6>
                <small class="text-muted">{{pais.descripcion}}</small>
            </div>
            <img class="imagen-bandera" src={{pais.foto}}>
        </li>

    </ul>

    <!-- <form class="card p-2">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Promo code">
        <button type="submit" class="btn btn-secondary">Redeem</button>
    </div>
</form> -->
</div>